{{!-- page displaying single post --}}

<div>
    <article>
        <h2>{{post.title}}</h2>
        <div>
            Posted by {{post.User.username}} on {{format_date post.createdAt}}
        </div>
        <div>
            {{post.body}}
        </div>
    </article>
    {{!-- only shows comments that exist --}}
    {{#if post.Comments}}
    <section>
        <h3>Comments</h3>
        <div>
            {{#each post.Comments}}
            <div>
                <p>
                    {{body}}
                </p>
                <p>
                    {{User.username}}, {{format_date createdAt}}
                </p>
            </div>
            {{/each}}
        </div>
    </section>
    {{/if}}

    <form id="new-comment-form">
        <h3>Add New Comment</h3>
        <div>
            {{!-- stores post id for query selector in comment.js --}}
            <input type="hidden" name="post-id" value="{{post.id}}" />

            <label class="form-label" for="comment-content">Comment</label>

            <textarea name="comment-content"></textarea>

            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

<script src="/js/comment.js"></script>